/* general styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    }

span {
    font-weight: 300;
    color: #1ac056;
}
h2 {
    text-align: center;
    font-weight: 100;
    font-size: 2em;
}
p {
    font-weight: 300;
    line-height: 1.5;
}
section {
    padding: 80px 100px;
}
.col-1-2 {
    width: 50%;
    float: left;
}

/* general styles END*/


/* Main menu styles*/

#main-menu {
    background-color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
}

#main-menu ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

#main-menu .menu-item {
    display: inline-block;
    padding: 25px;
}

#main-menu .menu-item a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
    transition: all 0.3s;
}

#main-menu .menu-item a:hover {
    color: #291f1a;
}

/* Main menu styles END*/

/* Main header styles */

#main-header {
    height: 100vh;
    background-image: url(../img/header-background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
    font-family: 'Roboto', sans-serif;
}

#main-header .header-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#main-header .header-caption h1,
#main-header .header-caption h2 {
    font-weight: 100;
}

#main-header .header-caption h1 {
    font-size: 3em;
}

#main-header .header-caption h2 {
    font-size: 2em;
}

/* Main header styles END*/



/* About styles*/

#about {
    background-color: #f9fcfe;
    overflow: hidden;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
  
}
#about figure {
    margin: 0;
    text-align: center;
}
#about figure img {
    max-height: 350px;
    max-width: 100%;
    border: 10px solid #fff;
    border-radius: 10px;
}
/* About styles END*/

/* Skills styles*/
#skills {
    text-align: center;
}
#skills .skills-item {
    display: inline-block;
}
#skills .skills-item figcaption {
    margin-top: 20px;
    font-weight: 300;
}
/* Skills styles END*/

/* Porfolio styles*/
#portfolio {
    overflow: hidden;
}

#portfolio .portfolio-item {
    height: 350px;
    float: left;
    width: 33.33333%;
    margin: 0;
    background-position: center;
    background-size: cover;
}
#portfolio-item-1 {
    background-image: url(../img/portfolio1.jpg)
}
#portfolio-item-2 {
    background-image: url(../img/portfolio2.jpg)
}
#portfolio-item-3 {
    background-image: url(../img/portfolio4.jpg)
}




/* Porfolio styles END */





